html {
  font-size: 10px;
  font-size: var(--ia-theme-base-font-size, 10px);
}
:root {
  --app-page-max-width: 117rem;
}
body {
  font-family:
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-family: var(--ia-theme-base-font-family, "Helvetica Neue", Helvetica, Arial, sans-serif);
  color: #333;
  color: var(--ia-theme-primary-text-color, #333);
  background-color: #fff;
  background-color: var(--ia-theme-primary-background-color, #F5F5F7);
  margin: 0;
  padding: 0;
  line-height: 1.42857143;
}
.no-js-redirect-container {
  margin: 1rem;
}
style {
  display: none !important;
}
#paypal-upsell-button {
  opacity: 0.01;
  padding-bottom: 0.6rem;
}
